body {
  background-color: #f3f3f6;
  background-image: linear-gradient(#d4dae4, #909ac6, #d4dae4);
      font-family: "Poppins";
  color: #333333;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: #34557d;
}

.todo-wrapper {
  background: #ffffff;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.btn-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.secondaryBtn {
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secondaryBtn:hover {
  background-color: #357abd;
}

.active {
  background-color: #357abd;
}

.primaryBtn {
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primaryBtn:hover {
  background-color: #357abd;
}
